<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Bus tijden</title>

  <meta http-equiv="Content-Security-Policy"
        content="upgrade-insecure-requests">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            curioPrimary: '#69197c',
            curioSecondary: '#56ddef',
          }
        }
      }
    }
  </script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Open+Sans&display=swap');

    body,
    html {
      background-color: white;
      height: 100%;
      width: 100%;
    }

    h2 {
      font-family: 'Arial', sans-serif;
      font-weight: bolder;
    }
  </style>
</head>

<body class="bg-gradient-to-br from-curioPrimary/50 to-curioSecondary/50 flex items-center justify-center">
  <canvas id="backgroundCanvas"
          class="fixed w-full h-full"></canvas>

  <div id="app"
       class="absolute h-full w-full flex flex-col justify-between p-12 pb-20">
    {{ getData }}

    <div>
      <div class="toCentral bg-white/50 rounded-xl overflow-hidden inline-block w-2/3 portrait:w-10/12 shadow-lg">
        <h2 class="text-3xl portrait:text-2xl bg-curioSecondary/50 text-curioPrimary text-center font-bold uppercase p-3">
          Bushalte Oude Baan naar centraal station
        </h2>

        <table class="table-auto w-full">
          <thead class="text-lg bg-curioSecondary/50 text-curioPrimary uppercase">
            <tr class="text-center">
              <th class="p-1">Vertrektijd</th>
              <th class="p-1">Status</th>
              <th class="p-1">Eindpunt</th>
              <th class="p-1">Lijn</th>
            </tr>
          </thead>

          <tbody class="text-2xl">
            <tr v-for="bus in toCentral.slice(0,5)"
                class="text-center border-b">
              <td class="p-1 font-semibold"
                  v-if="bus.ExpectedArrivalTime == bus.TargetArrivalTime">
                {{ formatDate(bus.TargetArrivalTime) }}
              </td>
              <td v-else
                  class="p-2 font-semibold">
                <div class="inline-block relative">
                  <span class="text-red-600">{{ formatDate(bus.ExpectedArrivalTime) }}</span>
                  <span class="absolute start-full line-through ml-2 opacity-40">{{ formatDate(bus.TargetArrivalTime) }}</span>
                </div>
              </td>
              <td class="p-2">{{translate(bus.TripStopStatus)}}</td>
              <td class="p-2">{{bus.DestinationName50}}</td>
              <td class="p-2 font-semibold">{{bus.LinePublicNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="flex justify-end">
      <div class="toRoute bg-white/50 rounded-xl overflow-hidden inline-block w-2/3 portrait:w-10/12 shadow-lg">
        <h2 class="text-3xl portrait:text-2xl bg-curioSecondary/50 text-curioPrimary text-center font-bold uppercase p-3">
          Bushalte Oude Baan richting Terheijden
        </h2>

        <table class="table-auto w-full">
          <thead class="text-lg bg-curioSecondary/50 text-curioPrimary uppercase">
            <tr class="text-center">
              <th class="p-1">Vertrektijd</th>
              <th class="p-1">Status</th>
              <th class="p-1">Eindpunt</th>
              <th class="p-1">Lijn</th>
            </tr>
          </thead>

          <tbody class="text-2xl">
            <tr v-for="bus in toRoute.slice(0,5)"
                class="text-center border-b">
              <td class="p-2 font-semibold"
                  v-if="bus.ExpectedArrivalTime == bus.TargetArrivalTime">
                {{ formatDate(bus.TargetArrivalTime) }}
              </td>
              <td v-else
                  class="p-2 font-semibold">
                <div class="inline-block relative">
                  <span class="text-red-600">{{ formatDate(bus.ExpectedArrivalTime) }}</span>
                  <span class="absolute start-full line-through ml-2 opacity-40">{{ formatDate(bus.TargetArrivalTime) }}</span>
                </div>
              </td>
              <td class="p-2">{{translate(bus.TripStopStatus)}}</td>
              <td class="p-2">{{bus.DestinationName50}}</td>
              <td class="p-2 font-semibold">{{bus.LinePublicNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="fixed bottom-0 w-full text-curioPrimary text-center p-4">
    <p class="text-xl font-bold">Let op: Alle vertrektijden zijn vanaf de halte.</p>
  </div>

  <script>
    const TO_CENTRAL_ID = 72000640;
    const TO_ROUTE_ID = 72000810;

    function sortPasses(passes) {
      return Object.values(passes)
        .sort(
          (a, b) => a.TargetArrivalTime.localeCompare(b.TargetArrivalTime)
        );
    }

    function isLocalhost() {
      return window.location.hostname === 'localhost'
        || window.location.hostname === '127.0.0.1';
    }

    let currentBusAnimationId = 0;
    const busAnimationData = [];

    // Animation constants
    const BUS_TRAVEL_DURATION = 3000;
    const FADE_TIME = BUS_TRAVEL_DURATION * .5;
    const FADE_IN = 1;
    const FADE_OUT = 2;

    function fadeMode(mode, duration) {
      return {
        mode,
        duration: duration || FADE_TIME
      };
    }

    function addBusToAnimationData(direction, from, to, fadeMode, onArrivalCallback) {
      const currentTime = new Date().getTime();
      busAnimationData[currentBusAnimationId] = {
        direction,
        from,
        to,
        fadeMode, // This can be null if no fading is desired
        startTime: currentTime,
        travelDuration: BUS_TRAVEL_DURATION,
        onArrivalCallback
      };
      currentBusAnimationId++;
    }

    function removeBusFromAnimationData(index) {
      delete busAnimationData[index];
    }

    /*
    ** API data fetching of bus times
    */
    Vue.createApp({
      data() {
        return {
          toCentral: [],
          toRoute: []
        }
      },
      computed: {
        getData() {
          let url = 'https://bustijden.curio.codes';
          const options = {
            method: 'GET'
          }

          if (isLocalhost()) {
            // Note that you will have to open this URL in the browser and accept the risk
            // before it will load the data.
            url = 'http://v0.ovapi.nl/stopareacode/BdOud';

            // If you want live data, comment the line below. We use this static data during
            // development to prevent hitting any API rate limit.
            url = 'test-data.json';
          }

          fetch(url, options)
            .then((response) => response.json())
            .then((data) => {
              this.toCentral = sortPasses(data.BdOud[TO_CENTRAL_ID].Passes);
              this.toRoute = sortPasses(data.BdOud[TO_ROUTE_ID].Passes);

              // TODO: Draw the bus animations based on real arrival times
              // To use the API data, we could determine the arrival time and if it's close enough to the current time,
              // we could add a bus to the animation data to show it arriving and going to the destination.
            });
        }
      },
      methods: {
        formatDate(value) {
          return new Date(value)
            .toLocaleTimeString('nl-NL', {
              hour: '2-digit',
              minute: '2-digit',
              second: '2-digit'
            });
        },
        translate(status) {
          let translatedStatus;

          switch (status) {
            case 'PLANNED':
              translatedStatus = 'Verwacht';
              break;
            case 'PASSED':
              translatedStatus = 'Vertrokken';
              break;
            case 'CANCEL':
              translatedStatus = 'Geannuleerd';
              break;
            case 'DRIVING':
              translatedStatus = 'Onderweg';
              break;
            default:
              translatedStatus = 'Onbekend';
          }

          return translatedStatus;
        },
      }
    }).mount('#app');

    /*
    ** Background canvas bus animation
    */
    const busToCentral = new Image();
    busToCentral.src = 'assets/bus-to-central.png';

    const busToRoute = new Image();
    busToRoute.src = 'assets/bus-to-route.png';

    const background = new Image();
    background.src = 'assets/background.png';

    const stopSignRoute = new Image();
    stopSignRoute.src = 'assets/stop.png';

    // Original image pixel sizes and points of interest (x and y of top-left of bus image)
    const backgroundOriginalSize = 990;
    const busOriginalSize = 350;
    const stopSignOriginalSize = 194;
    const backgroundOriginalPointsOfInterest = {
      toCentral: {
        spawn: { x: 1259, y: -259 },
        stop: { x: 268, y: 314 },
        destination: { x: -800, y: 900 },
      },
      toRoute: {
        spawn: { x: -812, y: 1118 },
        stop: { x: 488, y: 446 },
        destination: { x: 1475, y: -100 },
      },
      stopSignRoute: { x: 785, y: 515 },
    }

    // Scaled bus size and points of interest
    let busSize = busOriginalSize;
    let stopSignSize = stopSignOriginalSize;
    let drawArea = {};
    let pointsOfInterest = {};

    // Get the canvas and its context
    const backgroundCanvasElement = document.getElementById('backgroundCanvas');
    const backgroundCanvas = backgroundCanvasElement.getContext('2d');
    const scaleAnimation = 0.4;

    const resizeCanvas = () => {
      backgroundCanvasElement.width = window.innerWidth;
      backgroundCanvasElement.height = window.innerHeight;

      const smallestDimension = Math.min(window.innerWidth * scaleAnimation, window.innerHeight * scaleAnimation);
      drawArea = {
        x: window.innerWidth * .5 - smallestDimension * .5,
        y: window.innerHeight * .5 - smallestDimension * .5,
        width: smallestDimension,
        height: smallestDimension
      };

      // Scale the bus and points of interest to the new canvas size
      const scalePoint = (point) => {
        return {
          x: drawArea.x + drawArea.width * point.x / backgroundOriginalSize,
          y: drawArea.y + drawArea.height * point.y / backgroundOriginalSize
        }
      }

      busSize = {
        width: smallestDimension * busOriginalSize / backgroundOriginalSize,
        height: smallestDimension * busOriginalSize / backgroundOriginalSize
      };

      stopSignSize = {
        width: smallestDimension * stopSignOriginalSize / backgroundOriginalSize,
        height: smallestDimension * stopSignOriginalSize / backgroundOriginalSize
      }

      pointsOfInterest = {
        toCentral: {
          spawn: scalePoint(backgroundOriginalPointsOfInterest.toCentral.spawn),
          stop: scalePoint(backgroundOriginalPointsOfInterest.toCentral.stop),
          destination: scalePoint(backgroundOriginalPointsOfInterest.toCentral.destination)
        },
        toRoute: {
          spawn: scalePoint(backgroundOriginalPointsOfInterest.toRoute.spawn),
          stop: scalePoint(backgroundOriginalPointsOfInterest.toRoute.stop),
          destination: scalePoint(backgroundOriginalPointsOfInterest.toRoute.destination)
        },
        stopSignRoute: scalePoint(backgroundOriginalPointsOfInterest.stopSignRoute)
      };
    }

    window.addEventListener('resize', resizeCanvas);
    resizeCanvas();

    /*
    ** Drawing functions
    */

    // Draws the bus at the given position, optionally "running" (bouncing up and down like its engine is running)
    function drawBus(bus, x, y, running) {
      if (running) {
        y += Math.sin(Date.now() / 25) * 1;
      }

      backgroundCanvas.drawImage(bus, x, y, busSize.width, busSize.height);
    }

    function drawBackground() {
      backgroundCanvas.drawImage(background, drawArea.x, drawArea.y, drawArea.width, drawArea.height);
    }

    function drawStopSign() {
      backgroundCanvas.drawImage(stopSignRoute, pointsOfInterest.stopSignRoute.x, pointsOfInterest.stopSignRoute.y, stopSignSize.width, stopSignSize.height);
    }

    let debugHelpFindBusPositions = false;
    let mouseX = 0;
    let mouseY = 0;

    // If we're on localhost and the user presses d, we toggle the debug mode to help find the correct bus positions
    if (isLocalhost()) {
      window.addEventListener('mousemove', (event) => {
        mouseX = event.clientX;
        mouseY = event.clientY;
      });

      window.addEventListener('keydown', (event) => {
        if (event.key === 'd') {
          debugHelpFindBusPositions = !debugHelpFindBusPositions;
        }
      });
    }

    /*
    ** Bus animations to have it go from one point to another
    */
    // TODO: Actually draw busses based on the API data, for now we just show busses arriving and going
    function showTestBusses() {
      // A bus that goes to the stop and when it arrives, after 2 seconds, it goes to the central destination
      addBusToAnimationData(
        busToCentral,
        pointsOfInterest.toCentral.spawn,
        pointsOfInterest.toCentral.stop,
        fadeMode(FADE_IN),
        (bus, index) => {
          setTimeout(() => {
            addBusToAnimationData(
              busToCentral,
              pointsOfInterest.toCentral.stop,
              pointsOfInterest.toCentral.destination,
              fadeMode(FADE_OUT),
            );
            removeBusFromAnimationData(index);
          }, 500);
        }
      );

      // Bus the other way around
      addBusToAnimationData(
        busToRoute,
        pointsOfInterest.toRoute.spawn,
        pointsOfInterest.toRoute.stop,
        fadeMode(FADE_IN),
        (bus, index) => {
          setTimeout(() => {
            addBusToAnimationData(
              busToRoute,
              pointsOfInterest.toRoute.stop,
              pointsOfInterest.toRoute.destination,
              fadeMode(FADE_OUT),
            );
            removeBusFromAnimationData(index);
          }, 500);
        }
      );
    }
    showTestBusses();
    setInterval(showTestBusses, 10000);

    function draw() {
      backgroundCanvas.clearRect(0, 0, window.innerWidth, window.innerHeight);
      drawBackground();

      if (debugHelpFindBusPositions) {
        // Draw a bus at the cursor position and show the x, y coordinates based on the original image size
        // This way we can determine the correct points of interest for the bus
        const x = (mouseX - drawArea.x) * backgroundOriginalSize / drawArea.width;
        const y = (mouseY - drawArea.y) * backgroundOriginalSize / drawArea.height;
        console.log(x, y);

        drawBus(busToCentral, mouseX, mouseY, false);
      }

      const now = new Date().getTime();

      busAnimationData.forEach((bus, index) => {
        const elapsedTime = now - bus.startTime;

        let alpha = 1;
        let x, y;
        let progress = elapsedTime / bus.travelDuration;

        if (bus.fadeMode && bus.fadeMode.mode === FADE_IN) {
          alpha = Math.min(1, elapsedTime / bus.fadeMode.duration);
        } else if (bus.fadeMode && bus.fadeMode.mode === FADE_OUT) {
          alpha = Math.max(0, 1 - (elapsedTime + bus.fadeMode.duration - bus.travelDuration) / bus.fadeMode.duration);
        }

        if (progress < 1) {
          x = bus.from.x + (bus.to.x - bus.from.x) * progress;
          y = bus.from.y + (bus.to.y - bus.from.y) * progress;
        } else {
          x = bus.to.x;
          y = bus.to.y;
        }

        backgroundCanvas.globalAlpha = alpha;
        drawBus(bus.direction, x, y, progress < 1); // Only bounce if still moving
        backgroundCanvas.globalAlpha = 1;

        if (progress > 1) {
          bus.onArrivalCallback?.(bus, index);
          bus.onArrivalCallback = null;
        }
      });

      drawStopSign();

      requestAnimationFrame(draw);
    }

    draw();
  </script>
</body>

</html>
